
body {
    background-color: rgb(54, 54, 54); 
}

input{
    
    background-color: darkgrey; 
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #272727;
    margin: 7px;
}
input#submitButton{
    background-color: #048052; 
    border: none;
    color: lightgrey;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}
.greenButton{
    background-color: #048052; 
    border: none;
    color: lightgrey;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

form{
   text-align: center; 
}

label{
    font-family: Arial, Helvetica, sans-serif;
    color: lightgrey;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size:x-large;
    text-align: center; 
    margin: 50px;
    color: lightgrey;
}
Button, .globalButton{
    background-color: #242424; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

#lightModeBtn{
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    cursor: pointer;
}
